[submodule "discord"]
	path = discord
	url = git@github.com:Ilshidur/action-discord.git
[submodule "slack"]
	path = slack
	url = git@github.com:Ilshidur/action-slack.git
[submodule "mercure"]
	path = mercure
	url = git@github.com:Ilshidur/action-mercure.git
